*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body{
  background-color: #ECF3FF;
}

.flex{
  display: flex;
}
.flex_align{
  display: flex;
  align-items: center;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_between{
  display: flex;
  align-items: center;
  justify-content:  space-between;
}

.flex_evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex_col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
}

.btn_primary{
  outline-width: 0;
  background-color: #027373;
  padding: 14px 65px;
  font-size: 17px;
  border-radius: 35px;
  color: white;
  border: 2px solid #027373;
  text-transform: uppercase;
  transition: all ease-in 0.4s;
}
.btn_primary:hover{
  border: 2px solid #027373;
  color: #027373;
  background-color: #eaf7ff;
}
.input{
  height: 35px;
  border-radius: 25px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(201, 201, 201);
  background-color: #ffffff;
  width: 100%;
  margin-bottom: rem;
  outline-width: 0;
  margin-top: 1rem;
}