*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body{
  background-color: #ECF3FF;
}

.flex{
  display: flex;
}
.flex_align{
  display: flex;
  align-items: center;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_between{
  display: flex;
  align-items: center;
  justify-content:  space-between;
}

.flex_evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex_col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}